/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************************************
***         ***
********************************************/

.container {
    
}

.container > * {
    border: 1px solid #000;
}

/********************************************
***	Header Section	***
********************************************/

.header-container {
    display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	position: fixed;
	width: 100%;
	background: white;
	z-index: 11;
}

.header-left {
	display: flex;
	align-items: center;
}

.header-left > * {
	margin-left: 20px;
}

.icon {
	width: 20px;
}

.header-center {
	display: flex;
	justify-content: center;
}

.logo {
	width: 300px;
}

.header-right {
	display: flex;
	justify-content: flex-end;
	padding: 5px;
}

button {
	margin-right: 10px;
	border-radius: 3px;
	font-weight: 800;
	font-size: 12px;
	color: white;
	background: rgb(88, 124, 148);
	border: 1px solid #000;
}



/********************************************
***	Article Section	***
********************************************/

.article-container {

}

.article {
    display: grid;
    grid-template-columns: 1fr 1fr 600px 1fr 1fr;
}

.title {
	padding: 120px 0 20px;
	font-size: 40px;
	font-style: italic;
	border-bottom: 1px solid #000;
}

.social-icon {
	width: 15px;
	background: rgb(238, 238, 238);
	border-radius: 20px;
	padding: 6px;
	margin-right: 10px;
}

.article > * {
	grid-column: 3 / span 1;
	margin: 15px 0;
}

.author {
	font-weight: 800;
	margin-top: 40px;
}

.article p {
	font-size: 20px;
}

.standout {
	font-weight: 900;
}

.wide-image {
	grid-column: 2 / 5;
	width: 100%;
}

.credit {
	font-size: 12px;
}

.theory-of-inflation {
	position: relative;
}

.inflation-text {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 30px;		
}

.inflation-position-1 {
	position: absolute;
	top: 30%;
}

.inflation-position-2 {
	position: absolute;
	top: 75%;
}


.inflation-text p {
	font-size: 14px;
}

